# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
src/social_media_analysis.egg-info/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Data/models (uncomment if you want to keep these out of git)
# data/
# models/
.virtual_documents/
